\documentclass[12pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage[spanish]{babel}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{geometry}
\geometry{a4paper, margin=1in}
\usepackage{parskip} % Párrafos separados por espacio vertical, sin sangría

\title{Informe Científico Generado Automáticamente}
\author{Generado por IA}
\date{\today}

\begin{document}
\maketitle
\begin{abstract}
Este documento presenta un informe científico generado a partir de datos de entrada y procesado por una IA.
\end{abstract}

\section{Introducción}
{{ report_content.introduccion | escape_latex }}

\section{Metodología}
{{ report_content.metodologia | escape_latex }}

\section{Resultados}
{{ report_content.resultados_generados | escape_latex }}

\section{Conclusión}
{{ report_content.conclusion | escape_latex }}

\end{document}